<!-- Stock Form -->
<form name="myform" method="<%= @method %>" action="<%= @action %>">
  <div>
    Stock Symbol</br>
    <input id="symbol" type="text" name="stock_symbol" placeholder="<enter symbol>" focus required />
  </div>

  <button type="submit">Get Quote</button>
</form>
