<!-- Stock Form -->
<h2>Stock Symbol</h2>
<form name="myform" method="<%= @method %>" action="<%= @action %>">

  <div>
    <input id="symbol" type="text" name="stock_symbol" placeholder="<enter symbol>" focus required />
  </div>

  <div>
    </br>
    <button type="submit">Get Quote</button>
  </div>

</form>
