<!DOCTYPE html>
<html>
  <head lang="en">
  <meta char="UTF-8">
  <link href='http://fonts.googleapis.com/css?family=Kite+One' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/style.css">
  <title>Quote</title>
</head>
  <div class="container">
    <div class ="content">
  <body OnLoad="document.myform.stock_symbol.focus();">
    <header>
      <h1>Stock Quote</h1>
    </header>
    <section>
      <article>

        <hr/>
        <%= yield %>
        <hr/>

      </article>
    </section>
  </body>
<footer>
  <p>
    Spencer Eldred<br/>
    eldredspencer@gmail.com<br/>
    808.280.3758 <br>
  </p>
  <ul>
        <li><a href="https://www.facebook.com/spencer.eldred.3" title="Spencer's Facebook" ><img class="icon" src="facebook.png" alt="Facebook" title="Facebook"></a>
        </li>
        <li><a href="https://twitter.com/login" title="Spencer's Twitter" ><img class="icon" src="twitter.jpeg"
            alt="`Twitter" title="`Twitter"></a>
        </li>
        <li><a href="https://www.linkedin.com/" title="Spencer's Linked In" ><img class="icon" src="linked_in_icon.jpg"
            alt="Linked In" title="Linked In"></a>
        </li>
      </ul>
</footer>
</div>
</div>
</html>