/* Stocks Style */
.container {
	position: relative;
      /*max-width: 980px;*/
      height: 540px;
      margin: 0 10% 0 10%;

}

.container:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: url('Wall_Street_Sign.jpg') no-repeat center;

   opacity: 0.3;

}

.content {
    position: relative;
    z-index: 2;
    /*opacity: 1;*/
}​

input {
  width: 250px;
  heigh: 100px;
  font-size: 2em;
  text-align: center;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

#symbol {
  width: 250px;
  heigh: 100px;
  font-size: 1.5em;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

body {
      /*max-width: 980px;*/
	text-align: center;
	font-family: 'Kite One', sans-serif;
      /*font-size: 2em;*/

}
article {
	margin: 10px 25% 0px 25%;
	/*text-align: center;*/
      height: 480px;
}
header  {
	text-align: center;
}

ul > li {
	display: inline;
	padding: 0px 10px 0px 10px;
	list-style: none;
}

button {
	background: black;
	width: 160px;
      height: 40px;
      font-size: 1.2em;
	opacity: 0.4;
	color: white;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;

}

button:hover {
	opacity: 0.7;
}

hr {
	text-align: center;
}

img[class="icon"] {
   height: 20px;
   width: 20px;
   margin: 0 0px 0 0px;
   -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
   /*border: 2px solid black;*/
}

footer {
      font-family: 'Kite One', sans-serif;
	text-align: center;
	font-size: .9em;
      float: clear;
	opacity: 1;
}

#details {
  font-size: 1.2em;
}

.label {
  float: left;
  width: 250px;
  margin-left: 20px:;
  text-align: right;
  margin: 3px 10px;
}

.value {
      float: left;
  text-align: left;
  width: 250px;
  margin: 3px 20px;
}
